:root {
    --primario: #EA4F4F;
    --secundario: #000000;
    --blanco: #FFFFFF;
    --fuenteprincipal: 'Monserrat', sans-serif;
    --fuentesecundaria: "Coming Soon", cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*:after {
    box-sizing: inherit;
}

/*Globales */
body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
    /*interlineado*/
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 1.6rem;
    color: var(--secundario);
    font-family: var(--fuenteprincipal);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 100%;
}

.contenedor {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
    font-family: var(--fuenteprincipal);
}

h2 {
    font-size: 3.2rem;
    font-family: var(--fuenteprincipal);
}

.header-ini {
    text-align: center;
    font-family: var(--fuentesecundaria);
    background-color: var(--primario);
    font-weight: bolder;
    padding: 0.1rem;

    p {
        margin: 0;
        font-size: 2rem;
    }
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    gap: 3rem;
}

.sec1 {
    display: flex;
    align-items: center;

    img {
        width: 10rem;
    }
}

.sec1 a {
    display: none;
}

.sec1 .icono {
    display: block;
}

.sec1 button {
    background-color: var(--blanco);
    border: none;
}
@media (min-width: 768px) {

    .sec1 {
        display: flex;
        align-items: center;
        gap: 4rem;
        font-weight: bold;
        font-size: 2rem;
    }

    .sec1 a:not(.icono) {
        display: block;
    }

    .sec1 .icono {
        display: none;

    }

    .sec1 .logo {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }

    .sec1 a {
        color: var(--secundario);
        font-family: var(--fuenteprincipal);
    }

    .sec1 button {
        display: none;
    }

}

@media (max-width: 767px) {
    .sec1 {
        display: flex;
        align-items: center;

    }

    .sec1 a:not(.icono) {
        display: none;
    }

    .sec1 .icono {
        display: block;
        margin-right: 0;
        margin-left: auto;
    }

    .sec1 .icono-menu {
        display: block;
        height: auto;
    }

    .flex-genero svg {
        display: none;
    }
}

.sec2 {
    display: flex;
    gap: 1rem;

    a:nth-child(2) {
        display: block;
    }
}

@media (max-width: 767px) {
    .sec2 {
        a:nth-child(1) {
            display: none;
        }
    }
}

.flex-genero {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--blanco);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

#dark-overlay {
    display: none;
    position: fixed;
    /* Cambia la posición a fixed */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color oscuro semitransparente */
}

body.btn-menu-show #dark-overlay {
    display: block;
    /* Mostrar el overlay cuando el menú está activo */
}

.btn-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#container-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 290px;
    height: 100%;
    background-color: #eedfdf;
    /* Ajusta el z-index para que sea mayor que el de .hero */
}

/* Hacer animación */
#container-menu.btn-menu-show {
    transform: translate(0);
    visibility: visible;


}

#container-menu.btn-menu-hidden {
    transform: translate(0);
    visibility: hidden;
}

body.btn-menu-show {
    overflow: hidden;
}

.cont-menu {
    nav {
        display: flex;
        flex-direction: column;
        font-family: var(--fuentesecundaria);
        font-weight: bold;

        a {
            margin: 4.5rem 0 0 3rem;
            color: var(--secundario);
            font-size: 2rem;
        }
    }
}

.usuario a {
    display: flex;
    margin-top: 20rem;
    justify-content: center;
    font-family: var(--fuentesecundaria);
    font-weight: bold;
}

.hero {
    background-image: url(../imagen/libreria2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    /* Altura */
    position: relative;
    margin-bottom: 2rem;
    z-index: 0;
    /* Asegúrate de que .hero tenga un z-index menor que el de #container-menu */
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    font-family: var(--fuenteprincipal);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
        color: var(--blanco);
    }

    h1 {
        font-size: 2.5rem;
        padding: 0 2rem 0 2rem;
    }

    button {
        margin-top: 2rem;
        background-color: var(--primario);
        padding: 1rem;
        color: var(--blanco);
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .hero {
        height: 890px;

        /*Altura*/
        p {
            font-size: 3rem;
        }

        h1 {
            font-size: 5rem;
            padding: 0 40rem 0 40rem;
        }

        button {
            margin-top: 4rem;
            background-color: var(--primario);
            padding: 2rem;
            color: var(--blanco);
            cursor: pointer;
            font-size: 2rem;
        }
    }
}

.contenido-hero2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fuenteprincipal);
    text-align: center;

    h2 {
        margin: 0
    }

    p {
        text-align: justify;
        padding: 0 4rem 0 4rem;
    }

    button {
        margin-top: 2rem;
        background-color: var(--primario);
        padding: 1rem;
        color: var(--blanco);
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .contenido-hero2 {
        h2 {
            font-size: 5rem;
        }

        p {
            font-size: 2rem;
            text-align: justify;
            padding: 0 45rem 0 45rem;
        }

        button {
            margin-top: 4rem;
            background-color: var(--primario);
            padding: 2rem;
            color: var(--blanco);
            cursor: pointer;
            font-size: 2rem;
        }
    }
}

.descripcion-a{
    display: flex;
    justify-content: center;
}

.novedades {
    padding-left: 2rem;
}

.libros {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* Espacio entre la imagen y la información del libro */
}

.imagen-libro {
    display: flex;
    justify-content: center;
}

.libro img {
    width: 10rem;
    /* Establece un ancho fijo para la imagen */
    height: auto;
    /* Permite que la altura se ajuste automáticamente según el ancho */
    object-fit: cover;
    /* Escala la imagen para que cubra todo el contenedor manteniendo la relación de aspecto */
    border-radius: 8px;
    /* Opcional: Agrega bordes redondeados para un mejor aspecto visual */
}

.detalles {
    padding: 5px 10px;
    /* Ajusta el relleno para cambiar el tamaño del botón */
    font-size: 20px;
    /* Tamaño de la fuente */
    color: #ffffff;
    /* Color del texto */
    border-radius: 3px;
    /* Ajusta el radio de borde para esquinas redondeadas */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    align-items: center;
    background-color: #EA4F4F;
    /* Color de fondo del botón */
    text-decoration: none;
}
.título{
    font-weight: bold;
    font-size: 1.6rem;
}
.autor{
    font-size: 1rem;
    text-transform: uppercase;
    
}
.valor{
    font-size: 1.6rem;
    color: #EA4F4F;
}

@media (min-width: 768px) {
    .título{
        font-weight: bold;
        font-size: 2rem;
    }
    .autor{
        font-size: 1.2rem;
        text-transform: uppercase;
        
    }
    .valor{
        font-size: 2rem;
        color: #EA4F4F;
    }
    .novedades {

        padding-left: 3rem;

        h2 {
            font-size: 5rem;
            text-align: center;
        }
        img {
            width: 20rem;
        }

    }

    .libros {
        display: flex;
        gap: 4rem;
    }
}

/*footer {
    hr {
        height: 1px;
        border: 0;
        color: #666;
        background-color: #EFEFEF;
    }
}*/

.info,
.thx {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 2rem;
    font-family: var(--fuenteprincipal);
}

@media (min-width: 768px) {

    .info,
    .thx {
        display: flex;
        align-items: center;
    }
}

/*Productos*/
.titule-pro {
    margin-left: 2rem;
}

.filtrar {
    button {
        background-color: var(--blanco);
        border: none;
    }

    label {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }
}

body.btn-pro-show #dark-overlay2 {
    display: block;
    /* Mostrar el overlay cuando el menú está activo */
}

.btn-pro {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#container-pro {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 290px;
    height: 100%;
    background-color: #eedfdf;
    /* Ajusta el z-index para que sea mayor que el de .hero */
}

/* Hacer animación */
#container-pro.btn-pro-show {
    transform: translate(0);
    visibility: visible;
}

#container-pro.btn-pro-hidden {
    transform: translate(0);
    visibility: hidden;
}

body.btn-pro-show {
    overflow: hidden;
}

.cont-pro {
    nav {
        display: flex;
        flex-direction: column;
        font-family: var(--fuentesecundaria);
        font-weight: bold;

        a {
            margin: 4.5rem 0 0 3rem;
            color: var(--secundario);
            font-size: 2rem;
        }
    }
}
/*Productos*/
.titule-pro{
    margin-left: 2rem;
}
/*Apartado móvil*/
.filtrar{
    margin-bottom: 2rem;
    button{
        background-color: var(--blanco);
        border: none;
    }
    label{
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }
}
#dark-overlay2 {
    display: none;
    position: fixed; /* Cambia la posición a fixed */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color oscuro semitransparente */
    top: 0;
}
body.btn-pro-show #dark-overlay2 {
    display: block; /* Mostrar el overlay cuando el menú está activo */
}
.btn-pro {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
#container-pro {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: absolute;
    width: 310px;
    height: 100%;
    background-color: #eedfdf; 
}
.close{
    display: flex;
    background-color: #eedfdf;
    border: none;
    justify-content: flex-end;
}
/* Hacer animación */
#container-pro.btn-pro-show {
    transform: translate(0);
    visibility: visible;
    

}
#container-pro.btn-pro-hidden {
    transform: translate(0);
    visibility: hidden;
}
body.btn-pro-show {
    overflow: hidden;
}
.cont-pro {
    nav{
        display: flex;
        flex-direction: column;
        font-family: var(--fuentesecundaria);
        font-weight: bold;
        
        a{
            margin: 4.5rem 0 0 3rem;
            color: var(--secundario);
            font-size: 2rem;
        }
    }
}
.filtrar{
    display: flex;
    justify-content: space-between;
    p{
        margin-right: 1rem;
    }
}
.productos{
    padding-left: 2rem;
}

.ini-filtro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        font-family: var(--fuentesecundaria);
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    svg{
        margin-top: 1.5rem;
    }
}
.hr{
    hr{
        height: 2px;
        border: 0;
        color: #000;
        background-color: #000;  
    }
}
.filtrar-ordenar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    button{
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        font-family: var(--fuentesecundaria);
        background-color: #eedfdf;
        border: none;
        font-weight: bold;
        font-size: 2rem;
    }
 }
.vent-ordenar{
    display: flex;
    align-items: center;
    font-family: var(--fuentesecundaria);
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10rem;
    p{
        font-family: var(--fuentesecundaria);
        font-size: 2rem;
        font-weight: bold;
    }
    
} 
.dropdown {
    width: 150px;
}
.dropdown select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Para ocultar la flecha del select en algunos navegadores */
    -webkit-appearance: none; /* Para ocultar la flecha del select en WebKit (Chrome, Safari, etc.) */
    -moz-appearance: none; /* Para ocultar la flecha del select en Firefox */
}
.eliminar{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    button{
        background-color: #eedfdf;
        border: none;
        font-family: var(--fuentesecundaria);
        font-size: 3rem;
        font-weight: bold;
    }
    
}
#container-pre {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: absolute;
    width: 310px;
    height: 100%;
    top: 0;
    background-color: #eedfdf;
}
/* Hacer animación */
#container-pre.btn-pre-show {
    transform: translate(0);
    visibility: visible;
}
#container-pre.btn-pre-hidden {
    transform: translate(0);
    visibility: hidden;
}
body.btn-pre-show {
    overflow: hidden;
}
.precios{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.precio{
    font-family: var(--fuentesecundaria);
    font-size: 2rem;
    font-weight: bold;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Ocultar las flechas en los campos de entrada de tipo número */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Mostrar un estilo predeterminado en Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.mensaje-vacio {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
    height: 100%;
}
/*Apartado escritorio Productos*/
@media (min-width: 768px) {
    .main-pro {
        padding: 0 3rem 0 3rem;
    }
    .titule-pro {
        margin-left: 0;
    }
    .libros {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .libros .libro {
        img {
            max-width: none;
            width: 20rem;
        }
    }
}
@media screen and (min-width: 769px) {
    .filtrar {
        display: none;
    }
    .filtrar p {
        pointer-events: none; /* Deshabilitar eventos de puntero */
    }
}
.filtros{
    display: grid;
    grid-template-columns: 10rem 24rem 10rem;
    align-items: center;
    font-family: var(--fuenteprincipal);
    font-size: 3rem;
    p{
        font-size: 3rem;
        margin: 0;
    }
    a{
        color: var(--secundario);
    }

}
.filtro-desk{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
}
.ordenar{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    p{
        font-family: var(--fuenteprincipal);
        font-weight: normal;
        font-size: 3rem;
    }
    .dropdown{
        font-family: var(--fuenteprincipal);
        font-size: 2rem;
        width: 24rem;
    }
}
/* Luego define las reglas para .filtro-desk */
@media (max-width: 768px) {
    .filtro-desk, .filtros, ord{
        display: none;
    }
}
.flex-order{
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* Tamaño del SVG en el desplegable */
.dropdown-svg {
    height: 5rem; /* Ajusta la altura según sea necesario */
    padding-top: 1rem;
}

.dropdown-filtro {
    display: none;
    position: absolute;
    background-color: var(--blanco);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-filtro .checkboxs2 {
    color: black;
    text-decoration: none;
    display: block;
    font-family: var(--fuenteprincipal);
    font-weight: normal;
}
.dropdown-filtro form {
    color: black;
    padding: 12px 16px;
    display: block;
    .precio{
        font-family: var(--fuenteprincipal);
        font-weight: normal;
    }
}

.dropdown:hover .dropdown-filtro {
    display: block;
}

.dropdown-filtro a:hover {
    background-color: #f1f1f1;
}
.vent-ordenar{
    margin-bottom: 0;
}
.dropdown-filtro{
    .eliminar{
        display: flex;
        justify-content: center;
        padding: 0 2rem 0 2rem;
        .delete{
            font-family: var(--fuenteprincipal);
            font-weight: normal;
            background-color: var(--blanco);
            font-size: 2.5rem;
            cursor: pointer
        }
    }
     
}
.checkboxs2{
    margin-top: 2rem;
    align-items: center;
    margin-bottom: 8px;
    font-size: 2rem;
    padding: 0 2rem 0 2rem;
    input{
        width:20px;
        height:20px;
    } 
}

.checkboxs2 input[type="checkbox"] {
    margin-right: 1rem;
}
.checkboxs2 label {
    cursor: pointer;
}
.precio2{
    display: flex;
    flex-direction: column;
    font-family: var(--fuenteprincipal);
    font-size: 2rem;
    font-weight: normal;
}
.hasta{
    margin-right: 0.6rem;
}
.dropdown-filtro{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;;

}
.paginacion{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
    button{
        width:200px;
        height:70px;
        background: linear-gradient(to left top, #CF3A3A  50%, #FE4A4A  50%);
        border-style: none;
        color:#fff;
        font-size: 23px;
        letter-spacing: 3px;
        font-family: 'Lato';
        font-weight: 600;
        outline: none;
        cursor: pointer;
        padding: 0px;
        overflow: hidden;
        transition: all .5s;
        box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    }
    button span{
        position: absolute;
        display: block;
    }
    button span:nth-child(1){
        height: 3px;
        width:200px;
        top:0px;
        left:-200px;
        background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        animation: span1 2s linear infinite;
        animation-delay: 1s;
    }

    @keyframes span1{
        0%{
            left:-200px
        }
        100%{
            left:200px;
        }
    }
    button span:nth-child(2){
        height: 70px;
        width: 3px;
        top:-70px;
        right:0px;
        background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        animation: span2 2s linear infinite;
        animation-delay: 2s;
    }
    @keyframes span2{
        0%{
            top:-70px;
        }
        100%{
            top:70px;
        }
    }
    button span:nth-child(3){
        height:3px;
        width:200px;
        right:-200px;
        bottom: 0px;
        background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
        animation: span3 2s linear infinite;
        animation-delay: 3s;
    }
    @keyframes span3{
        0%{
            right:-200px;
        }
        100%{
            right: 200px;
        }
    }

    button span:nth-child(4){
        height:70px;
        width:3px;
        bottom:-70px;
        left:0px;
        background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
        border-top-right-radius: 1px;
        border-top-left-radius: 1px;
        animation: span4 2s linear infinite;
        animation-delay: 4s;
    }
    @keyframes span4{
        0%{
            bottom: -70px;
        }
        100%{
            bottom:70px;
        }
    }

    button:hover{
        transition: all .5s;
        transform: rotate(-3deg) scale(1.1);
        box-shadow: 0px 3px 5px rgba(0,0,0,.4);
    }
    button:hover span{
        animation-play-state: paused;
    }
} 
@media (max-width: 768px) {
    .paginacion{
        button{
            width: 150px;
        }
    }
    
}
